.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {

}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.urlContainer {
  border-bottom: 0.20rem solid;
  position: relative;
}

.urlContainer input {
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}
.urlContainer input:focus {
  outline: none;
}

.urlContainer .urlKey {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  right: 0.5rem;
  transform: translateY(-50%);
  align-items: center;
}

.urlContainer .urlKey span {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.urlContainer .urlError {
  position: absolute;
  bottom: -2rem;
  width: 100%;
  text-align: center;
}

.urlContainer .urlKey kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}